<div class="centered">
    <div class="favoritesBody">
<h2 class="editTitle">You're registered as {{isLogged.userName}}.</h2>
<h2>{{errorMessage}}{{Message}}</h2>
{{#if chgPw}}


<form id="passFields" action="/auth/user-profile" method="POST">
    <label> Old password
        <input type="password" name="oldpw" placeholder="********" required />
    </label>
    <label> New password
        <input type="password" name="newpw" placeholder="********" required />
    </label>
    <label> Repeat password
        <input type="password" name="newpwd" placeholder="********" required />
    </label>
    <button type="submit">Submit</button>
</form>

{{else}}
<form action="/auth/changepw" method="GET">
    <button type="submit" >Change password</button>
</form>
{{/if}}
</div>
</div>