<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{appTitle}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />

</head>

<body>
  <div class="container text-left">
    <header class="row">
      <div class="col">
        <h2 id="VolDan">a VolDan&trade; Project</h2>
        <div id="menu">
          <div id="menu-bar" onclick="menuOnClick()">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
          </div>
          <nav class="nav" id="nav">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/favorites">My Favorites</a></li>
              <li><a href="/favorites/create">New Favorite</a></li>
              <li><a href="/auth/user-profile">Profile</a></li>
              <li> <form id="logout-form" action="/auth/logout" method="POST">
         <button class="button" id="logoutBtn">Logout</button>
    </form> </li>
            </ul>
          </nav>
        </div>

        <div class="menu-bg" id="menu-bg"></div>
      </div>
    </header>
  </div>


  {{{body}}}



  <script src="/js/script.js"></script>


</body>

</html>