<div class="centered">
  <h2>Edit: {{title}}</h2>

  <form action="/favorites/{{_id}}/edit" method="post">
    <label> Title:
      <input type="text" name="title" value="{{title}}" />
    </label>

    <label> Description:
      <textarea name="description" cols="30" rows="4">{{description}} </textarea>
    </label>

    <label> Link:
      <input type="text" name="previewLink" placeholder="https://example.com" />
    </label>


    <label> Format:
      <select name="format">
        <option value="movie">movie</option>
        <option value="series">series</option>
        <option value="book">book</option>
        <option value="podcast">podcast</option>
      </select>
    </label>


    <button> Save </button>
  </form>
</div>