body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0%;
}


.col{
  position:relative;
  background-position: center;
  background-size: cover;
  width: 100%;
  background-image: url("/images/pexels-krivec-ales-552784.png");
  height: 100vh;
  margin:0%;
}


.centered{
  position: absolute;
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(245, 242, 242);
    font-size: large;
}

.centered a{
  color:rgb(202, 201, 201);
  text-decoration: none; 
  font-size: small;
}

.tabs{
  text-align: right;
  
}

.tabs a{
  text-decoration: none;
  color:rgb(202, 201, 201);
}

.form input{
  visibility: hidden;
}
.form button{
  display: flex;
}

/* .topic {
  width: 100%;
  margin: 0 auto;
text-align: center; 

} */



/* 
a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.media {
  display: flex;
  flex-direction: row;
  
}
.topic {
  flex-direction: column;
  width: 7vw;
  margin: 1%;
  font-size:x-small;/*}  */

/* .topic img {
  width: 100%;
}
h4 {
  height: 14%;
} */

